{% extends "base.html" %}
{% load static %}
{% block title %}
  Лента записей
{% endblock %}
{% block main %}
  <div class="container py-5">
    <h1>Лента записей</h1>                       
    {% for single_post in posts %}
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ single_post.location }}             
        </li>
        <li>
          Дата: {{ single_post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' single_post.category %}">{{ single_post.category }}</a>
        </li>
      </ul>          
      <!-- Первые 10 слов -->
      <p>
        {{ single_post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' single_post.id %}">Читать полный текст</a>
    </article>
    {% endfor %}             
  </div>
{% endblock %}
